@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

* {
    margin: 0px;
    /* Zerando as margens do navegador */
    padding: 0px;
    /* Zerando as margens de preenchimento internas do navegador */
    box-sizing: border-box;
    /* Colocando o conteiner inteiro com altura e largura max do navegador */
    font-family: 'Kanit', 'Lexant', sans-serif;
    /* Define a fonte do texto */
}

/* Estilo do corpo da página */
body {
    display: flex;
    /* Usa flexbox para centralizar conteúdo */
    flex-direction: column;
    /* direção do corpo da página em coluna */
    background-color: rgb(195, 207, 226);
    /* Cor de fundo cinza claro */
}

nav {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: auto;
    background: rgb(52, 73, 94);
    padding: 16px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 32px;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: color 0.3s ease;
}

nav a:hover {
    color: rgb(52, 152, 219);
}

/* Estilo do container principal */
.container {
    display: flex;
    /* Usa flexbox para centralizar conteúdo */
    flex-direction: column;
    /* direção do corpo da página em coluna */
    margin-top: 150px;
    /* Centraliza horizontalmente */
    align-self: center;
    /* Centraliza verticalmente */
    width: max-content;
    /* largura total da viewport */
    height: max-content;
    /* Altura total da viewport */
    text-align: center;
    /* Centraliza texto */
    padding: 20px;
    /* Espaçamento interno */
    background-color: rgb(255, 255, 255);
    /* Fundo branco */
    border-radius: 10px;
    /* Cantos arredondados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
}

.lexend-bold {
    font-family: "Lexend", Arial, Helvetica, sans-serif;
    font-style: bold;
    font-size: xx-large;
}

/* Estilo do botão Jogar */
.btn-jogar {
    display: flex;
    width: max-content;
    justify-content: center;
    align-self: center;
    margin: 10px 0px 0px 0px;
    /* Margem de distancia do botao para o texto */
    padding: 15px 30px;
    /* Espaçamento interno do botão */
    background-color: rgb(44, 62, 80);
    /* Mudar a cor dps de definido */
    color: rgb(255, 255, 255);
    /* Texto branco */
    border: none;
    /* Remove borda */
    border-radius: 5px;
    /* Cantos arredondados */
    cursor: pointer;
    /* Cursor vira mãozinha ao passar por cima */
    transition: background-color 0.3s;
    /* Animação suave da cor de fundo */
    font-family: "Lexend", Arial, Helvetica, sans-serif;
    font-style: bold;
    font-size: 15px;
    /* Tamanho da fonte */
}

/* Efeito hover do botão */
.btn-jogar:hover {
    background-color: rgb(195, 207, 226);
    /* Cor mais clara ao passar o mouse */
}

/* Estilo do modal (popup) */
.modal {
    display: none;
    /* Começa invisível */
    position: fixed;
    /* Posição fixa na tela */
    top: 0;
    left: 0;
    width: 100%;
    /* Ocupa toda a largura */
    height: 100%;
    /* Ocupa toda a altura */
    background-color: rgba(0, 0, 0, 0.5);
    /* Fundo semi-transparente */
}

/* Conteúdo do modal */
.modal-content {
    background-color: rgb(255, 255, 255);
    /* Fundo branco */
    margin: 15% auto;
    /* Margem superior e centralizado */
    padding: 20px;
    /* Espaçamento interno */
    width: 80%;
    /* Largura de 80% */
    max-width: 500px;
    /* Largura máxima */
    border-radius: 5px;
    /* Cantos arredondados */
    position: relative;
    /* Para posicionar o botão de fechar */
    justify-items: center;
    /* Alinhar o botao ao centro do content */
}

/* Estilo do botão Jogar */
.btn-baixar {
    padding: 15px 30px;
    /* Espaçamento interno do botão */
    background-color: rgb(44, 62, 80);
    color: rgb(255, 255, 255);
    /* Texto branco */
    border: none;
    /* Remove borda */
    border-radius: 5px;
    /* Cantos arredondados */
    cursor: pointer;
    /* Cursor vira mãozinha ao passar por cima */
    transition: background-color 0.3s;
    /* Animação suave da cor de fundo */
    font-family: "Lexend", Arial, Helvetica, sans-serif;
    font-style: bold;
    font-size: 15px;
    /* Tamanho da fonte */
    margin: 10px 0px 0px 0px;
    /* Margem de distancia do botao para o texto */
}

/* Efeito hover do botão */
.btn-baixar:hover {
    background-color: rgb(195, 207, 226);
    /* Cor mais clara ao passar o mouse */
}

.kanit-regular {
    text-align: justify;
    font-family: "Kanit", sans-serif;
    font-size: medium;
    font-style: normal;
}

/* Botão de fechar (X) */
.close {
    position: absolute;
    /* Posicionamento absoluto */
    right: 10px;
    /* 10px da direita */
    top: 5px;
    /* 5px do topo */
    font-size: 24px;
    /* Tamanho da fonte */
    cursor: pointer;
    /* Cursor vira mãozinha */
}

#divFooter {
    display: flex;
    flex-direction: column;
    margin-top: 174px;
    position: fixed;
    bottom: 0;
    left: 0;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    border-top: 2px solid rgb(255, 255, 255);
    background: rgb(52, 73, 94);
    color: rgb(255, 255, 255);
}