<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artigo</title>
    <link rel="stylesheet" href="../css/estiloabnt.css">
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@400;500&family=Kanit:wght@400;500&display=swap"
        rel="stylesheet">

</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="../../paginaWeb/templates/index.html">Início</a></li>
                <li><a href="../../paginaWeb/templates/equipe.html">Equipe</a></li>
                <li><a href="../../paginaWeb/templates/mits.html">MITS</a></li>
                <li><a href="../../paginaWeb/templates/banco_de_dados.html">Banco de Dados</a></li>
                <li><a href="../../paginaWeb/templates/biografia.html">Ridley Scott</a></li>
                <li><a href="../../paginaWeb/templates/etica.html">Análise Ética</a></li>
                <li><a href="../../paginaWeb/templates/glossario.html">Glossário</a></li>
                <li><a href="../../paginaWeb/templates/abnt.html">Artigo</a></li>
                <li>
                    <a href="../../jogoEmPython/templates/chamadaJogoPython.html">
                        Jogo da Forca
                    </a>
                </li>
            </ul>
        </nav>
        <br>
        <h1>Artigo</h1>
        <p>Aqui você verá nosso trabalho acadêmico de acordo com as normas da ABNT sobre a Empresa MITS e
            <br>
            a Personalidade Ridley Scoot e as suas participações no filme: Piratas do Vale do Sílicio
        </p>
    </header>
    <br>
    <div class="content-container">
        <h2 class="content-title">Resumo</h2>
        <p class="content-paragraph">
            O presente artigo interdisciplinar explora a história da informática, focando na empresa MITS (Micro
            Instrumentation and Telemetry Systems) e no diretor de cinema Ridley Scott, ambas figuras importantes no
            avanço tecnológico.<br>
            A MITS, criadora do primeiro computador pessoal, o Altair 8800, e o diretor Ridley Scott, conhecido por
            integrar avanços tecnológicos em obras como Alien e o icônico comercial da Apple na década de 1980. <br>
            Diante disto, é disposto um artigo que busca explorar como esses marcos tecnológicos impactaram áreas como
            cinema, publicidade e a disputa no mercado tecnológico. <br>
            Como recurso complementar, foi criado um website com informações sobre a MITS, Ridley Scott e o filme,
            incluindo um diagrama sobre o banco de dados da empresa, um glossário de termos do filme e uma análise ética
            das ações de figurantes marcantes no longa-metragem. <br>
            Além disso, uma experiência de gamificação é oferecida por meio de um jogo de forca no site, com o objetivo
            de facilitar a aprendizagem. <br>
            Isso tudo compõe o projeto que integrou as disciplinas estudadas, desde programação até fundamentos de
            informática, promovendo um aprendizado interativo e abrangente. <br>
            <br>
            Palavras-chave: MITS; Altair 8800; computador pessoal; Ridley Scott; Microsoft; Apple; História da
            informática
        </p>
    </div>
    <div id="download">
        <a id="arquivo" href="https://drive.google.com/uc?export=download&id=1hnxg8Hbq_5X3zma_s_8ekcdrzPdSnC2Y"
            download>Baixar Arquivo PDF</a>
    </div>

    <footer>
        <p>&copy; Documentação ABNT. Todos os direitos reservados.</p>
    </footer>
</body>

</html>