<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banco de Dados da MITS</title>
    <link rel="stylesheet" href="../css/estilobd.css">
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@400;500&family=Kanit:wght@400;500&display=swap"
        rel="stylesheet">

</head>

<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="../../index.html">Início</a>
                </li>
                <li><a href="../../paginaWeb/templates/Equipe.html">Equipe</a></li>
                <li><a href="../../paginaWeb/templates/mits.html">MITS</a></li>
                <li><a href="../../paginaWeb/templates/banco_de_dados.html">Banco de Dados</a></li>
                <li><a href="../../paginaWeb/templates/biografia.html">Ridley Scott</a></li>
                <li><a href="../../paginaWeb/templates/etica.html">Análise Ética</a></li>
                <li><a href="../../paginaWeb/templates/glossario.html">Glossário</a></li>
                <li><a href="../../paginaWeb/templates/abnt.html">Artigo</a></li>
                <li>
                    <a href="../../jogoEmPython/templates/chamadaJogoPython.html">
                        Jogo da Forca
                    </a>
                </li>
            </ul>
        </nav>
        <br>
        <h1>Banco de Dados da MITS</h1>
        <p>Aqui você verá nossa representação de um Banco de Dados da empresa MITS em Modelo Conceitual e em Modelo
            Lógico</p>
    </header>
    <section>
        <div>
            <p>
                <b>MITS (Micro Instrumentation and Telemetry Systems)</b>
                <br>
                Fundada em 1969 em Albuquerque, Novo México, a MITS ganhou destaque com o lançamento do Altair 8800 em
                1975, considerado o primeiro computador pessoal acessível.
                Essa inovação marcou o início da era da computação pessoal e inspirou o surgimento de gigantes da
                tecnologia, como a Microsoft.
            </p>
        </div>
        <br>
        <div id="bd">
            <h2><b>Modelo Conceitual MITS:</b></h2>

            <img src="../img/BD_MITS_CONC.png" alt="" id="conceitual">
            <br>
            <h2><b>Modelo Lógico MITS:</b></h2>

            <img src="../img/BD_MITS_LOG.png" alt="" id="logico">
            <a id="baixar" href="BD_MITS_LOG.xlsx" download="BD_MITS_LOG.xlsx">Baixar Arquivo</a>
        </div>

    </section>
    <br>
</body>
<footer>
    <p id="footertext">&copy; 2024 Banco de Dados. Todos os direitos reservados.</p>
</footer>

</html>