<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biografia de Ridley Scott</title>
    <link rel="stylesheet" href="../css/biografia.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="../../index.html">Início</a>
                </li>
                <li><a href="../../paginaWeb/templates/equipe.html">Equipe</a></li>
                <li><a href="../../paginaWeb/templates/mits.html">MITS</a></li>
                <li><a href="../../paginaWeb/templates/banco_de_dados.html">Banco de Dados</a></li>
                <li><a href="../../paginaWeb/templates/biografia.html">Ridley Scott</a></li>
                <li><a href="../../paginaWeb/templates/etica.html">Análise Ética</a></li>
                <li><a href="../../paginaWeb/templates/glossario.html">Glossário</a></li>
                <li><a href="../../paginaWeb/templates/abnt.html">Artigo</a></li>
                <li><a href="../../jogoEmPython/templates/chamadaJogoPython.html">
                        Jogo da Forca
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <section id="Banner">
        <img src="../img/Ridley Scott.png" class="ridleyScott" alt="Ridley Scott">
        <p class="txtBanner">Biografia de Ridley Scott</p>
        <p class="txtSecundario">Diretor e produtor britânico aclamado, conhecido por suas obras de ficção científica.
        </p>
    </section>

    <section id="Corpo">
        <p class="titleCrp">Ridley Scott: Vida Pessoal</p>
        <p class="txtCrp">
            Ridley Scott nasceu na cidade de South Shields, na Inglaterra, em 30 de novembro de 1937. Ele é filho de um
            oficial da Royal Engineers e, por causa da função de seu pai, a família morou em diferentes lugares,
            incluindo o País de Gales, Cumberland e na Alemanha. Após a Segunda Guerra Mundial, a família retornou para
            Durham, onde se estabeleceu em Hartburn, uma região industrial que mais tarde inspiraria os cenários de
            “Blade Runner”.
            <br>
            Ridley Scott foi aluno do London's Royal College of Art, onde colaborou para a criação do departamento
            cinematográfico.
        </p>

        <p class="titleCrp2">Carreira de Cineasta</p>
        <p class="txtCrp2">
            Junto com seu irmão Tony Scott, também cineasta, Ridley produziu seu primeiro filme, um curta-metragem em
            preto e branco chamado “Boy on a Bicycle”. Em 1962, ingressou na BBC como Set Designer, criando cenários
            para diversos shows. Em 1965, fez sua estreia como diretor na série de televisão *Z Cars* e na ficção
            científica *Out of the Unknown*.
            <br>
            Ridley também foi um dos produtores de *The Dalek*, trabalhando na criação dos monstros da série. Frustrado
            pela pouca recompensa financeira, ele e Tony fundaram a empresa de publicidade “Ridley Scott Associates”,
            que o impulsionou para a direção cinematográfica.
            <br>
            Ao longo de sua carreira, Ridley Scott se consolidou como uma das principais figuras artísticas do cinema,
            com um legado reconhecido mundialmente.
        </p>

        <img src="../img/ridleyScott.png" class="ridleyImg" alt="Imagem de Ridley Scott">
    </section>

    <section id="Corpo2">
        <p class="titleCrp3">Principais Obras</p>
        <p class="txtCrp3">
            As obras de Ridley Scott são conhecidas por sua abordagem visual marcante, com atenção aos detalhes de
            cenários fictícios. Muitos de seus filmes abordam temas como sobrevivência, identidade e o impacto da
            tecnologia nas relações humanas.
        </p>
        <p class="txtCrp4">
            O cineasta se destaca na criação de universos distópicos e futuristas, sendo reconhecido por desenvolver
            narrativas profundas, aliadas a visuais deslumbrantes. Ele usa suas obras para abordar questões sociais
            contemporâneas.
        </p>

        <div class="containerFilmes">
            <a href="https://www.adorocinema.com/filmes/filme-24944/" class="imageContainer">
                <img src="../img/gladiador.png" class="imgFilme" alt="Gladiador">
                <div class="imageTitle">Gladiador</div>
            </a>
            <a href="https://www.adorocinema.com/filmes/filme-1975/" class="imageContainer">
                <img src="../img/bladerunner.png" class="imgFilme" alt="Blade Runner">
                <div class="imageTitle">Blade Runner</div>
            </a>
            <a href="https://www.adorocinema.com/filmes/filme-62/" class="imageContainer">
                <img src="../img/alien.png" class="imgFilme" alt="Alien">
                <div class="imageTitle">Alien</div>
            </a>
            <a href="https://www.youtube.com/watch?v=VtvjbmoDx-I" class="imageContainer">
                <img src="../img/1987 apple.png" class="imgFilme" alt="Apple">
                <div class="imageTitle">Apple (1987)</div>
            </a>
        </div>
    </section>

    <section id="Premios">
        <div class="boxConteudo">
            <p class="titlePremios">Prêmios e Relevância</p>
            <p class="txtPremios">
                Ridley Scott é uma figura artística internacionalmente reconhecida, com uma extensa coleção de prêmios.
                Ele venceu, entre outros, o Globo de Ouro de Melhor Diretor por *Gladiador* (2000) e recebeu vários
                prêmios BAFTA. Seu legado foi também reconhecido pela Academia de Artes e Ciências Cinematográficas.
            </p>
            <div class="imgContainer">
                <img src="../img/ridleyPremio.png" class="imgPremio" alt="Prêmios Ridley Scott">
                <img src="../img/ridleyPremio2.png" class="imgPremio2" alt="Prêmios Ridley Scott">
            </div>
        </div>
    </section>

    <footer>
        <p class="txtFooter">&copy; 2024 Etec de Guarulhos. Todos os direitos reservados.</p>
    </footer>
</body>

</html>