<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nossa Equipe</title>
    <link rel="stylesheet" href="../../paginaWeb/css/estiloequipe.css">

    <!-- Importando as fontes do Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@400;500&family=Kanit:wght@400;500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="../../paginaWeb/index.html">Início</a></li>
                <li><a href="../../paginaWeb/templates/equipe.html">Equipe</a></li>
                <li><a href="../../paginaWeb/templates/mits.html">MITS</a></li>
                <li><a href="../../paginaWeb/templates/banco_de_dados.html">Banco de Dados</a></li>
                <li><a href="../../paginaWeb/templates/biografia.html">Ridley Scott</a></li>
                <li><a href="../../paginaWeb/templates/etica.html">Análise Ética</a></li>
                <li><a href="../../paginaWeb/templates/glossario.html">Glossário</a></li>
                <li><a href="../../paginaWeb/templates/abnt.html">Artigo</a></li>
                <li>
                    <a href="../../jogoEmPython/templates/chamadaJogoPython.html">
                        Jogo da Forca
                    </a>
                </li>
            </ul>
        </nav>
        <br>
        <h1>Nossa Equipe</h1>
        <br>
        <p>Conheça a Equipe responsável pelo Projeto</p>
    </header>
        <br>

    <div class="team-container">
        <div class="team-member">
            <div class="avatar">
                <img src="../img/Felipe.png" alt="">
            </div>
            <h2 class="member-name">Felipe</h2>
            <h3 class="member-role">Produção do Jogo Python e de Landing Pages</h3>
            <p class="member-bio"></p>
            <div class="social-links">
                <a href="https://www.instagram.com/feh100906" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://github.com/FelipeDaSilvaMachado" target="_blank"><i class="fab fa-github"></i></a>
            </div>
        </div>

        <div class="team-member">
            <div class="avatar">
                <img src="../img/Francisco.png" alt="">
            </div>
            <h2 class="member-name">Francisco</h2>
            <h3 class="member-role">Produção da Análise Ética e Artigo ABNT</h3>
            <p class="member-bio"></p>
            <div class="social-links">
                <a href="https://instagram.com/fcocavalcante87" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://github.com/FcoCavalcante" target="_blank"><i class="fab fa-github"></i></a>
            </div>
        </div>

        <div class="team-member">
            <div class="avatar">
                <img src="../img/Gabriel R..png" alt="">
            </div>
            <h2 class="member-name">Gabriel R.</h2>
            <h3 class="member-role">Produção do Banco de Dados e de  Landing Pages</h3>
            <p class="member-bio"></p>
            <div class="social-links">
                <a href="https://www.instagram.com/g4briel_rc9" target="_blank_"><i class="fab fa-instagram"></i></a>
                <a href="https://github.com/G4brielRC" target="_blank"><i class="fab fa-github"></i></a>
            </div>
        </div>

        <div class="team-member">
            <div class="avatar">
                <img src="../img/Gabriel S..png" alt="">
            </div>
            <h2 class="member-name">Gabriel S.</h2>
            <h3 class="member-role">Produção do Glossário e de Landing Pages</h3>
            <p class="member-bio"></p>
            <div class="social-links">
                <a href="https://www.instagram.com/kthroughtwelve/" target="_blank_"><i class="fab fa-instagram"></i></a>
                <a href="https://github.com/gabrielssouzalima" target="_blank"><i class="fab fa-github"></i></a>
            </div>
        </div>
    </div>

    <footer>
        <p>© 2024 Nossa Equipe. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
