<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Análise Ética</title>
    <link rel="stylesheet" href="../css/estiloetica.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@400;500&family=Kanit:wght@400;500&display=swap"
        rel="stylesheet">

</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="../../paginaWeb/index.html">Início</a></li>
                <li><a href="../../paginaWeb/templates/equipe.html">Equipe</a></li>
                <li><a href="../../paginaWeb/templates/mits.html">MITS</a></li>
                <li><a href="../../paginaWeb/templates/banco_de_dados.html">Banco de Dados</a></li>
                <li><a href="../../paginaWeb/templates/biografia.html">Ridley Scott</a></li>
                <li><a href="../../paginaWeb/templates/etica.html">Análise Ética</a></li>
                <li><a href="../../paginaWeb/templates/glossario.html">Glossário</a></li>
                <li><a href="../../paginaWeb/templates/abnt.html">Artigo</a></li>
                <li>
                    <a href="../../jogoEmPython/templates/chamadaJogoPython.html">
                        Jogo da Forca
                    </a>
                </li>
            </ul>
        </nav>
        <br>
        <h1>Análise Ética</h1>
        <br>
        <p>Aqui você poderá ler a Análise Ética e a Personalide de Ridley Scoot abordada no filme: <b>Piratas do Vale do
                Silício</b></p>
    </header>
    <div class="content-container">
        <h2 class="content-title">Introdução</h2>
        <p class="content-paragraph">
            Personalidades como Bill Gates, Steve Jobs e Ridley Scott se destacam por suas contribuições marcantes em
            tecnologia e arte, moldando a sociedade de formas distintas.
            <br>
            Gates e Jobs revolucionaram o mercado tecnológico, enquanto Scott utilizou o cinema para abordar questões
            sociais e éticas.
            <br>
            A partir do filme “Piratas do Vale do Silício”, analisamos suas trajetórias e constatamos a complexidade de
            suas personalidades e estilos de liderança únicos, que impactaram tanto suas conquistas quanto seu legado.
            <br>
            Tudo isso também marcou seus ambientes de trabalho, seja de forma positiva quanto negativa, abrangendo
            também questões da ética profissional e até como lidavam com questões legais em relação aos seus interesses
            e ambições, nos permitindo questionar:
            <br>
            “Vale tudo para obter o sucesso e avanços na área da tecnologia?”.
        </p>
    </div>
    <br>
    <div class="content-container">
        <h2 class="content-title">Análise Ética dos Protagonistas</h2>
        <p class="content-paragraph">
            Em vista de compreendermos a licitude das ações apresentadas no longa “Piratas do Vale do Silício”,
            especialmente de Bill Gates e Steve Jobs, analisaremos seus comportamentos e, de certa forma, personalidade
            no que compete suas atuações ao longo de suas carreiras profissionais.<br>
            Também trataremos de levantar o perfil de Ridley Scott, renomado cineasta especialista no gênero de ficção
            científica e que, junto com Jobs, revolucionou o marketing tecnológico e cinematográfico.<br>
            Bill Gates é o fundador de uma das maiores empresas de tecnologia do mundo: a Microsoft.<br>
            Ele demonstra ser uma figura de mente determinada, confiante e visionária.<br>
            Gates revela ser obstinado em relação aos seus objetivos, procurando sempre traçar uma rota objetiva e clara
            que facilite alcançar o que almeja, embora, às vezes, seja necessária uma abordagem que desvie dos
            princípios éticos.<br>
            O personagem utiliza a desonestidade e mentiras como base para persuadir seus principais concorrentes no
            mercado da tecnologia.<br>
            Esse comportamento pode refletir uma desestabilização e desconfiança com as pessoas de seu círculo social,
            que, em determinados momentos, questionam sua integridade e transparência.<br>
            Apesar dessa adversidade, com a Microsoft, Bill Gates revolucionou o mercado de computadores pessoais com o
            lançamento do MS-DOS e do Windows.<br>
            A empresa também pôde oferecer produtos mais acessíveis para massas sociais mais desfavorecidas, tornando
            esse fator algo que mudou o mercado de tecnologia no mundo e a fez ser uma das principais corporações de
            tecnologia em escala mundial.<br>
            Já Steve Jobs é apresentado como uma figura de autoridade crítica, perfeccionista, despótica e
            explosiva.<br>
            Jobs caracteriza-se por ser um indivíduo com mínimo conhecimento sobre suas competências socioemocionais,
            principalmente no que diz respeito ao autoconhecimento e autocontrole. <br>
            O personagem revela ser uma pessoa extremamente escapista por meio do trabalho.<br>
            Essas características do protagonista da obra refletem muito sobre sua forma de atuação no ambiente
            organizacional, demonstrando ser antiético, imprudente e apático ao submeter seus funcionários a condições
            desfavoráveis ao bem-estar coletivo, colocando-os em jornadas de trabalho iguais ou superiores a 90 horas
            semanais.<br>
            Essa falta de autocontrole emocional reflete sua difícil convivência com colaboradores, família, amigos e
            outros, o que pode gerar conflitos interpessoais.<br>
            Entretanto, apesar de sua personalidade polêmica, Steve Jobs revolucionou a maneira como a tecnologia é
            inserida no cotidiano, ao popularizar os primeiros computadores pessoais.
        </p>
        <br>
        <div id="gates_e_jobs">
            <img src="../img/gates_e_jobs.png" alt="Bill Gates e Steve Jobs">
        </div>
    </div>
    <br>
    <div class="content-container">
        <h2 class="content-title">Análise Ética de Ridley Scott</h2>
        <p class="content-paragraph">
            Ridley Scott é um diretor britânico e ganhador do Globo de Ouro.<br>
            Ele se destaca por introduzir questões sociopolíticas em suas obras cinematográficas, como no próprio
            comercial da Apple em 1984, fazendo também referência à obra de George Orwell: *1984*.<br>
            Tal obra trata sobre a implementação de um governo que controla as pessoas através de sistemas de vídeos,
            gerando medo e minando suas liberdades por meio do “Big Brother”.<br>
            Com o Macintosh, as pessoas estariam livres dessa vigilância, que era dada especialmente através da
            televisão, porque com um computador todos tinham mais liberdade para executar suas atividades.<br>
            Liberdade essa que atualmente vemos grande debate sobre a necessidade ou não de impor limites.<br>
            Scott explora, em seus filmes, a importância do combate às causas de assimetrias sociais presentes em nosso
            coletivo social.<br>
            Principalmente as ações em que a ausência da ética no campo de trabalho se faz presente.<br>
            Um de seus filmes que aborda esta questão é *“Blade Runner – O Caçador de Androides” (1982)*, no qual,
            inclusive, aborda a falta dos valores éticos no ambiente de trabalho, especialmente no trato com os
            replicantes (androides): se deveriam ou não ser respeitados como pessoas ou tratados como meros objetos.<br>
            Apesar de alguns apresentarem consciência, como foi o caso do famigerado personagem de Roy Batty.<br>
            Em suma, Ridley Scott se mostra uma figura artística engajada nos movimentos sociais, demonstrando ser um
            indivíduo empático e principal defensor da inclusão de pautas sociais no âmbito artístico e cinematográfico.
        </p>
        <br>
        <div id="ridley">
            <img src="../img/Ridley.png" alt="Ridley Scott">
        </div>
    </div>
    <br>
    <div id="download">
        <a id="arquivo" href="https://drive.google.com/uc?export=download&id=1jlfaWiaA5cmVVmsv0iEcYx8hzgGgSLze"
            download>Baixar Arquivo PDF</a>
    </div>
    <br>
    <footer>
        <p>&copy; 2024 Análise Ética. Etec de Guarulhos.</p>
    </footer>
</body>

</html>