<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glossário</title>
    <link rel="stylesheet" href="../css/glossario.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="../../paginaWeb/index.html">Início</a></li>
                <li><a href="../../paginaWeb/templates/equipe.html">Equipe</a></li>
                <li><a href="../../paginaWeb/templates/mits.html">MITS</a></li>
                <li><a href="../../paginaWeb/templates/banco_de_dados.html">Banco de Dados</a></li>
                <li><a href="../../paginaWeb/templates/biografia.html">Ridley Scott</a></li>
                <li><a href="../../paginaWeb/templates/etica.html">Análise Ética</a></li>
                <li><a href="../../paginaWeb/templates/glossario.html">Glossário</a></li>
                <li><a href="../../paginaWeb/templates/abnt.html">Artigo</a></li>
                <li><a href="../../jogoEmPython/templates/chamadaJogoPython.html">
                    Jogo da Forca
                  </a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="h2">
        <h2>GLOSSÁRIO DO FILME "PIRATAS DO VALE DO SILÍCIO(1999)</h2>
    </div>
    <div id="Banner">
        <img src="../img/dicionario.png" class="imgDicionario">
        <p class="txtDesenvolvimento">
            Um glossário é uma lista de termos e suas definições, geralmente organizada em ordem alfabética, com o
            objetivo de explicar o significado de palavras ou expressões técnicas, especializadas ou difíceis de
            compreender. Ele é utilizado para auxiliar o leitor ou usuário a entender melhor determinado conteúdo,
            especialmente em contextos mais complexos, como textos acadêmicos, científicos, legais ou técnicos.
            <br>
            Em cima disto, abordaremos e analisaremos os elementos linguísticos presentes na obra cinematográfica,
            "Piratas do Vale do Silício (1999)". Onde os termos presentes no filme, são caracterizados por serem
            técnicos e/ou regionais.
        </p>
    </div>
    <div id="Corpo">
        <p class="titleCrp">Glossário</p>
        <div class="botoes">
            <button class="btnPalavra" data-audio="audio/apple.mp3">
                Apple /aepal/ <span class="Traducao">Maçã</span>
                <audio src="../audio/apple.mp3" preload="auto"></audio>
            </button>
            <button class="btnPalavra" data-audio="audio/software.mp3">
                Software /softwɛər/ <span class="Traducao">Programa</span>
                <audio src="../audio/software.mp3" preload="auto"></audio>
            </button>
            <button class="btnPalavra" data-audio="audio/mouse.mp3">
                Mouse /maus/ <span class="Traducao">Rato</span>
                <audio src="../audio/mouse.mp3" preload="auto"></audio>
            </button>
            <button class="btnPalavra" data-audio="audio/boy.mp3">
                Boy /bɔi/ <span class="Traducao">Menino</span>
                <audio src="../audio/boy.mp3" preload="auto"></audio>
            </button>
            <button class="btnPalavra" data-audio="audio/laughs.mp3">
                Laughs /læfs/ <span class="Traducao">Risadas</span>
                <audio src="../audio/laughs.mp3" preload="auto"></audio>
            </button>
            <button class="btnPalavra" data-audio="audio/computer.mp3">
                Computer /kəmˈpuːtər/ <span class="Traducao">Computador</span>
                <audio src="../audio/computer.mp3" preload="auto"></audio>
            </button>
            <button class="btnPalavra" data-audio="audio/burns.mp3">
                Burns /barns/ <span class="Traducao">Queimaduras</span>
                <audio src="../audio/burns.mp3" preload="auto"></audio>
            </button>
            <button class="btnPalavra" data-audio="audio/basic.mp3">
                Basic /ˈbeɪsɪk/ <span class="Traducao">Básico</span>
                <audio src="../audio/basic.mp3" preload="auto"></audio>
            </button>
            <button class="btnPalavra" data-audio="audio/future.mp3">
                Future /ˈfuːtər/ <span class="Traducao">Futuro</span>
                <audio src="../audio/future.mp3" preload="auto"></audio>
            </button>
            <button class="btnPalavra" data-audio="audio/home.mp3">
                Home /hoʊm/ <span class="Traducao">Casa</span>
                <audio src="../audio/home.mp3" preload="auto"></audio>
            </button>
            <button class="btnPalavra" data-audio="audio/fortune.mp3">
                Fortune /fortuən/ <span class="Traducao">Fortuna</span>
                <audio src="../audio/fortune.mp3" preload="auto"></audio>
            </button>
            <button class="btnPalavra" data-audio="audio/stay.mp3">
                Stay /steɪ/ <span class="Traducao">Fique</span>
                <audio src="../audio/stay.mp3" preload="auto"></audio>
            </button>
            <button class="btnPalavra" data-audio="audio/way.mp3">
                Way /weɪ/ <span class="Traducao">Caminho</span>
                <audio src="../audio/way.mp3" preload="auto"></audio>
            </button>
            <button class="btnPalavra" data-audio="audio/time.mp3">
                Time /taɪm/ <span class="Traducao">Tempo</span>
                <audio src="../audio/time.mp3" preload="auto"></audio>
            </button>
            <button class="btnPalavra" data-audio="audio/introducing.mp3">
                Introducing /ɪntrə'dusin/ <span class="Traducao">Apresentando</span>
                <audio src="../audio/introducing.mp3" preload="auto"></audio>
            </button>
            <button class="btnPalavra" data-audio="audio/file.mp3">
                File /faile/ <span class="Traducao">Arquivo</span>
                <audio src="../audio/file.mp3" preload="auto"></audio>
            </button>
            <button class="btnPalavra" data-audio="audio/undo.mp3">
                Undo /andu:/ <span class="Traducao">Desfazer</span>
                <audio src="../audio/undo.mp3" preload="auto"></audio>
            </button>
            <button class="btnPalavra" data-audio="audio/game.mp3">
                Game /geɪm/ <span class="Traducao">Jogo</span>
                <audio src="../audio/game.mp3" preload="auto"></audio>
            </button>
            <button class="btnPalavra" data-audio="audio/trash.mp3">
                Trash /træsh/ <span class="Traducao">Lixeira</span>
                <audio src="../audio/trash.mp3" preload="auto"></audio>
            </button>
            <button class="btnPalavra" data-audio="audio/airport.mp3">
                Airport /aɛrpɔrt/ <span class="Traducao">Aeroporto</span>
                <audio src="../audio/airport.mp3" preload="auto"></audio>
            </button>
            <button class="btnPalavra" data-audio="audio/windows.mp3">
                Windows /wɪndouz/ <span class="Traducao">Janelas</span>
                <audio src="../audio/windows.mp3" preload="auto"></audio>
            </button>
            <button class="btnPalavra" data-audio="audio/keyboard.mp3">
                Keyboard /kiboard/ <span class="Traducao">Teclado</span>
                <audio src="../audio/keyboard.mp3" preload="auto"></audio>
            </button>
        </div>
    </div>

    <div id="Footer">
        <footer>
            <p>&copy; 2024 Etec de Guarulhos. Todos os direitos reservados.</p>
        </footer>
    </div>
    <script src="../js/glossario.js"></script>
</body>

</html>