<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/index.css" />
    <title>Trabalho Interdisciplinar 2024</title>
  </head>

  <body>
    <nav>
      <div class="menu">
        <ul>
          <li>
            <a href="../../paginaWeb/templates/index.html">Início</a>
          </li>
          <li>
            <a href="../../paginaWeb/templates/equipe.html">Equipe</a>
          </li>
          <li>
            <a href="../../paginaWeb/templates/mits.html">MITS</a>
          </li>
          <li>
            <a href="../../paginaWeb/templates/banco_de_dados.html">
              Banco de Dados
            </a>
          </li>
          <li>
            <a href="../../paginaWeb/templates/biografia.html">
              Ridley Scott
            </a>
          </li>
          <li>
            <a href="../../paginaWeb/templates/etica.html">Análise Ética</a>
          </li>
          <li>
            <a href="../../paginaWeb/templates/glossario.html">Glossário</a>
          </li>
          <li>
            <a href="../../paginaWeb/templates/abnt.html">Artigo</a>
          </li>
          <li>
            <a href="../../jogoEmPython/templates/chamadaJogoPython.html">
              Jogo da Forca
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <header id="header">
      <div id="divHeader">
        <h1 id="h1header">
          A INFLUÊNCIA DO CINEMA NO “MARKETING TECNOLÓGICO” ENQUANTO MARCO NA
          HISTÓRIA DA INFORMÁTICA DOS ANOS 1980
        </h1>
      </div>
    </header>
    <div id="videos">
      <div>
        <iframe
          width="650"
          height="350"
          src="https://www.youtube.com/embed/e8qGo9tJ96I"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        >
        </iframe>
      </div>
      <div>
        <iframe
          width="650"
          height="350"
          src="https://www.youtube.com/embed/dAJRvgVOD_M"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        >
        </iframe>
      </div>
    </div>
    <footer>
      <div id="divFooter">
        <p>Etec de Guarulhos - Trabalho Interdisciplinar 2024</p>
      </div>
    </footer>
  </body>
</html>
