<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Micro Instrumentation and Telemetry Systems</title>
    <link rel="stylesheet" href="../../paginaWeb/css/estilomits.css">
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@400;500&family=Kanit:wght@400;500&display=swap"
        rel="stylesheet">
</head>
<header>
    <nav>
        <ul>
            <li><a href="../../paginaWeb/templates/index.html">Início</a></li>
            <li><a href="../../paginaWeb/templates/equipe.html">Equipe</a></li>
            <li><a href="../../paginaWeb/templates/mits.html">MITS</a></li>
            <li><a href="../../paginaWeb/templates/banco_de_dados.html">Banco de Dados</a></li>
            <li><a href="../../paginaWeb/templates/biografia.html">Ridley Scott</a></li>
            <li><a href="../../paginaWeb/templates/etica.html">Análise Ética</a></li>
            <li><a href="../../paginaWeb/templates/glossario.html">Glossário</a></li>
            <li><a href="../../paginaWeb/templates/abnt.html">Artigo</a></li>
            <li>
                <a href="../../jogoEmPython/templates/chamadaJogoPython.html">
                    Jogo da Forca
                </a>
            </li>
        </ul>
    </nav>
    <h1>Micro Instrumentation and Telemetry Systems</h1>
    O primeiro computador pessoal e a grande inspiração para Bill Gates e a Microsoft
</header>

<body>
    <main>
        <section>
            <p>
                No ano de 1969, na cidade de Albuquerque, Novo México, foi fundada por Forrest Mims e Ed Roberts
                a Micro Instrumentation and Telemetry Systems (MITS), como uma empresa de tecnologia.
            </p>
            <div class="first-image-container">
                <div class="image-box">
                    <img src="../img/Ed_Roberts.png" alt="Ed Roberts">
                    <div class="caption">Ed Roberts - Cofundador da MITS</div>
                </div>
                <div class="image-box">
                    <img src="../img/Forrest_Mims.png" alt="Forrest Mims III">
                    <div class="caption">Forrest Mims III - Cofundador da MITS </div>
                </div>
            </div>
            <p>
                Apesar do seu primeiro produto ter sido uma lâmpada especial para lançamentos noturnos de sinalização de
                foguetes,
                a MITS também distribuiu diversos kits de eletrônica e equipamentos de áudio, por meio da revista
                Popular Electronics.
                <br>
                Apesar de tudo isso, o que levou a empresa a se destacar no mercado foi a proposta de oferecer a
                possibilidade de as pessoas montarem e possuírem um computador pessoal, isso no ano de 1974.
            </p>
        </section>
        <br>
        <section>
            <h2>O Altair 8800</h2>
            <p>
                Definitivamente o microcomputador Altair 8800 tornou-se um marco na história da informática, sendo o
                primeiro computador pessoal do mundo.
                <br>
            <div class="altair-container">
                <img src="../img/altair.png" alt="Altair 8800 - Primeiro computador pessoal" class="altair">
                <div id="altair-caption">Altair 8800 - Primeiro computador pessoal
                    </p>
                </div>
            </div>
            <p>Havia duas possibilidades de adquirir tal equipamento: “um kit do tipo ‘faça-você-mesmo’ por US$ 439 (com
                todas as peças e componentes eletrônicos) ou então já completamente montado e funcional por US$ 621”.
                (Idem, 2021)
                <br>
                O primeiro computador pessoal era composto com a seguinte configuração: “um microprocessador Intel 8080,
                rodando à velocidade de 2MHz, memória RAM de 256 bytes, um painel com chaves e leds, slots de expansão e
                mais nada”. <br>
                (Idem, 2021) Sendo acrescentados outros componentes ao logo do tempo, como placas de expansão, leitor de
                k7, terminal, upgrade de memória e etc. <br>
                Tudo isso permitiu que o Altair 8800 fosse um sucesso de vendas ainda no primeiro semestre de 1975. <br>
            </p>

            <div class="altair-container">
                <img src="../img/cartaz.png" alt="" id="cartaz">
                <div class="caption">Cartaz de Publicidade do Altair 8800.</div>
            </div>
        </section>
        <section>
            <h2>Inspiração para Bill Gates</h2>
            <p>
                O sucesso do computador criado por Ed Roberts e Forrest Mims atraiu e inspirou o futuramente famigerado
                Bill Gates que, juntamente com Paul Allen, percebeu que o Altair 8800
                “necessitaria de uma linguagem de programação mais simples, por forma a torná-lo mais atrativo aos
                potenciais clientes”, desenvolvendo uma versão funcional
                da linguagem de programação BASIC para o Altair e licenciando o software à empresa MITS.
                <br>
                Assim, É neste contexto que surge a gigante Microsoft como uma empresa focada em produzir softwares,
                levando Bill Gates a se destacar no cenário tecnológico mundial
                justamente a partir de um kit de informática vendido numa revista de eletrônica para entusiastas de
                novas tecnologias como nos referirmos anteriormente.
            </p>
            <br>
            <div class="altair-container">
                <img src="../img/Bill-Gates-Altair-Basic.png" alt="" id="logo">
                <div class="caption">Bill Gates e Altair BASIC</div>
            </div>
            <br>
        </section>
    </main>
    <footer>
        &copy; 2024 MITS. Todos os direitos reservados.
    </footer>
</body>

</html>