<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/cssJogo/chamadaJogo.css" />
  <title>Jogo da Forca</title>
</head>

<body>
  <nav>
    <div class="menu">
      <ul>
        <li>
          <a href="../../index.html">Início</a>
        </li>
        <li>
          <a href="../../paginaWeb/templates/equipe.html"> Equipe </a>
        </li>
        <li>
          <a href="../../paginaWeb/templates/mits.html"> MITS </a>
        </li>
        <li>
          <a href="../../paginaWeb/templates/biografia.html">
            Ridley Scott
          </a>
        </li>
        <li>
          <a href="../../paginaWeb/templates/banco_de_dados.html">
            Banco de Dados
          </a>
        </li>
        <li>
          <a href="../../paginaWeb/templates/etica.html"> Análise Ética </a>
        </li>
        <li>
          <a href="../../paginaWeb/templates/glossario.html"> Glossário </a>
        </li>
        <li>
          <a href="../../paginaWeb/templates/abnt.html"> Artigo </a>
        </li>
        <li>
          <a href="../../jogoEmPython/templates/chamadaJogoPython.html">
            Jogo Em Python
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <h1 class="lexend-bold">Bem-vindo ao Jogo da Forca</h1>
    <button class="btn-jogar" onclick="iniciarJogo()">Jogar</button>
  </div>
  <div id="mensagemModal" class="modal">
    <div class="modal-content">
      <span class="close" onclick="fecharModal()">&times;</span>
      <p class="kanit-regular">
        Esse jogo foi criado para que você se divirta tentando adivinhar qual
        palavra está escondida nele, usamos palavras chaves espalhadas em
        nosso site para criá-lo. Bom divertimento!!!
      </p>
      <button id="btnBaixar" class="btn-baixar" onclick="baixarJogo()">
        Fazer download do jogo
      </button>
    </div>
  </div>
  <div id="divFooter">
    <div id="footer">
      <p>Etec de Guarulhos - Trabalho Interdisciplinar 2024</p>
    </div>
  </div>
  <script src="../../jogoEmPython/assets/jsJogo/chamadaJogo.js" defer></script>
</body>

</html>